$dark-blue:#024695;
$gray-68:#7F7F7F;
$purple:#E1F1FF;
$gray-36:#ADA4A4;
$gray-82:#C6C6C6;
$gray-10:#EDEDED;
$gray-5:#F5F5F5;
$success:#34A853;
$light-green:#509B89;
$dark-green:#48752C;
$light-black:#1E1E1E;
$failure:#EA3323;
$yellow:#EAC452;
$dark-yellow:#F59D31
